<div class="span6" ng-controller="taskAddController as vm">
    <h1>Add a new task</h1>
    <div class="control-group">
        <div class="controls">
            <input class="form-control" type="text" ng-model="vm.task.taskName" placeholder="Task name" />
            <select class="form-control" ng-model="vm.task.priority">
                <option ng-repeat="priority in vm.priorities">{{priority}}</option>
            </select>
            <input class="form-control" datetime-picker type="text" ng-model="vm.task.date" placeholder="Date" />
            <textarea class="form-control" ng-model="vm.task.comment" placeholder="Comment" />
            <a ng-click="vm.createTaskModel()" class="btn btn-small btn-primary">Save new task</a>
            <a ng-click="vm.cancel()" class="btn btn-small btn-primary">Cancel</a>
        </div>
    </div>
</div>