<link rel="stylesheet" href="~/Content/angularjs-datetime-picker.css" />
<div class="row" ng-app="mainApp">
    <div ng-view=""></div>
</div>
@section Scripts{
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular-route.min.js"></script>
<script src="~/Scripts/angular-resource.min.js"></script>
<script src="~/Scripts/angularjs-datetime-picker.js"></script>
<script src="~/Scripts/angularjs-datetime-picker.min.js"></script>
<script src="~/Scripts/app/scripts/app.js"></script>
<script src="~/Scripts/app/scripts/localService.js"></script>
<script src="~/Scripts/app/scripts/tasksController.js"></script>
<script src="~/Scripts/app/scripts/taskAddController.js"></script>
<script src="~/Scripts/app/scripts/taskDetailsController.js"></script>
}